p{
word-wrap: break-word;
}
.tweetshow{
    background-color: #ecddb7;;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 70%;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 10px;
}